@import "../variables/veriables.scss";
@import "../mixins/mixins.scss";

.certificatesContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: $componentsTop;

    @media (max-width: 400px) {
       width: 90%;     
    }

    .certificatesTitle {
        @include tytleStyles;
    }

    .bigCertificate {
        height: 400px;
        width: auto; 
        display: flex;
        justify-content: center;
        box-shadow: 3px 0px 8px 3px $blueColor;

        @media (max-width: 767px) {
            height: 300px;
        }

        @media (max-width: 576px) {
            height: 200px;
        }

        @media (max-width: 400px) {
            height: 150px;
        }
    }
    
    .certificatesList {
        width: 50%;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        margin-top: 30px;

        @media (max-width: 1199px) {
            width: 90%;
        }

        .certificatesItem{
            cursor: pointer; 
        
            img {
                height: 100px;
                width: auto;

                @media (max-width: 576px) {
                    height: 50px;
                }
            }
        }
    }    
}