@import "../variables/veriables.scss";
@import "../mixins/mixins.scss";

.experienceContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $componentsTop;
    margin-bottom: 20px;
    .experienceTitle {
        @include tytleStyles;
    }
    .experienceList {
        list-style: none;
        width: 80%;
        @media (max-width: 467px) {
            width: 95%;
        }
    }
    .experienceItem {
        height: $itemsHeight;
        border: solid 2px whitesmoke;
        background-color: $lightBlue;
        margin: 3px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        box-shadow: 2px 5px 10px 1px $blueColor;
        @media (max-width: 865px) {
            height: calc($itemsHeight + 5px);
        }
        &:hover {
            @include itemsColor;
        }
    }
}