/* heights */
$itemsHeight: 45px;
$componentsTop: 70px;

/* colors */
$blueColor: #778899;
$pinkColor: rgb(219, 179, 185);
$fontColor: #2C3843;
$lightBlue: #E1E1E1;
$whiteColor: rgb(255, 255, 255);

/* fonts */
$fontSize: 14px;
$fontSizeActiv: 18px;
$fontFamilyTitle: MonteCarlo;